.fm-overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.75);
}

.fm-overlay-content {
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255, 255, 255, .925);
	padding: 2em;
	z-index: 11; /* 1 higher than the overlay wrapper layer */
}