.fm-condition_select-wrapper {
  display: inline-block;
}

.fm-fm_overlays_conditionals .fm-wrapper[data-display-src="condition_select"] {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 30px;
}
